._5cl-{overflow:hidden}
._8bb_ ._92bg{-webkit-filter:invert(1) hue-rotate(180deg)}
._2dig{background:rgba(0, 0, 0, .4);border-radius:2px;color:#fff;line-height:12px;padding:3px 6px;pointer-events:none;text-shadow:0 0 1px rgba(0, 0, 0, .5)}

#bootloader_BSXfg{height:42px;}.bootloader_BSXfg{display:block!important;}