._5vr-{color:#42b72a}
.sp_skF-Jzg6mLW_1_5x{background-image:url(/rsrc.php/v3/yV/r/Mqr1-WHM7EO.png);background-size:22px 62px;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_skF-Jzg6mLW_1_5x.sx_8516c5{width:16px;height:16px;background-position:0 -44px}.sp_skF-Jzg6mLW_1_5x.sx_bb632d{background-position:0 0}.sp_skF-Jzg6mLW_1_5x.sx_560a20{background-position:0 -22px}

#bootloader_MMp8d{height:42px;}.bootloader_MMp8d{display:block!important;}